body {
  margin: 0;
  overscroll-behavior-y: contain;
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  color-scheme: dark;
}

* {
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
  scrollbar-width: thin;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  color: #68b5fb;
}
